body {
    padding-top: 70px; 
    overflow:hidden; 
    overflow-y:scroll;
   
}

.hero-spacer {
    margin-top: 50px;
    font-family: 'Permanent Marker', cursive;
    
}

.hero-feature {
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;;
  
}

footer {
    margin: 50px 0;
    font-family: 'Permanent Marker', cursive;
}

col-lg-12 .h3 { 
    
    font-family: 'Raleway', sans-serif;
}

h3.panel-title {
    font-family: 'Raleway', sans-serif;
    
}

